.category-page {
    padding: 100px 20px 40px;
    text-align: center;
  }
  
  .category-page h2 {
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  .category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 450px));
    gap: 30px;
    margin-left: 40px; ;
  }
  
  .category-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;

  }
  
  .category-card:hover {
    transform: scale(1.05);
  }
  
  .category-card img {
    width: 100%;
    height: 500px;
    object-fit:cover;
  }
  
  .category-card h3 {
    padding: 10px;
    font-size: 20px;
    color: #333;
  }
  .category-page {
    padding: 20px;
    text-align: center;
  }
  
  .category-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .category-card {
    display: block;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .category-card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .category-card h3 {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .category-card:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  