.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100vh;
  background-color: #1e1e2f;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 30px;
  color: whitesmoke;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  color: #00bcd4;
}
li:hover{
  cursor: pointer;
  color: #00bcd4;
}